# Core Django
Django==5.1.5

# Django REST Framework
djangorestframework==3.14.0

# CORS Headers
django-cors-headers==4.3.1

# Image Processing (if using ImageField)
Pillow==10.1.0

# Environment Variables
python-dotenv==1.0.0    # For managing environment variables
PyPDF2==3.0.1
google-generativeai==0.3.2